html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')



img(src=(""))

h2 Aveti link-ul de inregistrare pe platforma Wetterbest - Online Roofing : 

p 
  a(href=user.generatedLink) #{user.generatedLink}


p Va rugam sa folositi link-ul de mai sus pentru a creea un cont

h2 Multumim, 
p Echipa Wetterbest.

p Acesta este un mesaj automat, nu raspundeti. 
p Pentru contact : +4 0730137527
